body {
    font-family: "Edu TAS Beginner", cursive;
}

/*header*/
header {
    background-image: url(/assets/img/wall.png);

    h1 {
        font-size: 5rem;
    }
}

/*main*/
main {
    background-image: url(/assets/img/cork.png);
}

.pin {
    width: 35px;
    position: absolute;
    left: 45%;
    top: -13px;
}