body {
    font-family: "Edu TAS Beginner", cursive;
}

/*header*/
header {
    background-image: url(/assets/img/wall.png);

    h1 {
        font-size: 5rem;
    }
}

/*main*/
main {
    background-image: url(/assets/img/cork.png);
}

.pin {
    width: 35px;
    position: absolute;
    left: 45%;
    top: -13px;
}

.row .card:hover {
    transform: scale(1.1) rotate(10deg);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4)
}